@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .d-height {
    height: 100lvh;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
